
h2{
	color: white;
	font-size: 8rem;
}


.day-header{
	text-align: center;
}

.day-num{
	font-size: 8rem;
}

.days-body{
	font-size: 4rem;
}

.add-activity-btn-div{
	text-align: center;
	margin-top: 2%
}
.add-activity-btn{
	text-align: center;
	width: 20%;
	font-size: 4rem;
}

#map{
	height: 300px;
	width: 70%;
	margin: 10% auto;
}


/**************
***************
Activity form
***************
***************/

.activity-form-div{
	border: solid #00000036;
	width: 70%;
	margin: 2% auto;
}

.activity-title{
	font-size: 3rem;
}

.activity-location{
	font-size: 3rem;
}

.activity-notes{
	font-size: 3rem;
}

.activity-timestart{
	display: inline;
	width: 45%;
	margin-right: 10%;
	font-size: 3rem;
}

.activity-timeend{
	display: inline;
	width: 45%;
  font-size: 3rem;

}

.label-timestart{
	margin-right: 41%;
}

.activity-notes{
	height: 80%;
}

.formhide{
	display: none;
}

/***************
***************
Activity Card
***************
***************/

h3{
	font-size: 5rem;
}

.activity-card-div{
	border-bottom: solid #fc7f86;
}

.card-div0{
	border-top: solid #fc7f86;
}

.card-title{
	display: inline;
	margin-left: 44%;
}

.edit-btn{
	float: right;
}

.delete-btn{
	float: right;
}

.card-time{
	text-align: center;
	margin-left: 12%;
}

.card-location{
	text-align: center;
}

.card-notes{
	text-align: center;
}