.trips-div{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.trip{
	background-color: pink;
}

.singletrip-div{
	/*background-size: contain;*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	width: 14%;
	height: 25%;
	margin: 0 5%;
}


.new-trip{
	display: inline-block;
	float: right;
	margin-right: 2%;
}

.new-trip-link{
	text-decoration: none;
	color: rgb(255,214,209);
	font-size: 80px;
}

.new-trip-link:hover{
	text-decoration: none;
	color: rgb(255,214,209);
}