html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 15px;
}

header{
	text-align: center;
	height: 14%;
	border-bottom: solid #00000036;
}

.logo{
	display: inline-block;
	float: left;
}

.home-btn{
	text-decoration: none;
}

.home-btn:hover{
	text-decoration: none;
}

h1{
	color: rgb(255,214,209);
	display: inline;
	text-decoration: none;
}

.icon{
	max-height: 50px;
	max-width: 50px;
}

.link-item{
	font-size: 2rem;
	margin: 0 3%;
}

.link-item-single{
	color: rgb(255,214,209);
}

.main-body{
	margin: 3% 10%;
}