html{
	height: 100%
}

body{
	height: 100%
	font-size: 15px;
}

header{
	text-align: center;
	height: 17%
}

.logo{
	display: inline-block;
	float: left;
}

.home-btn{
	text-decoration: none;
}

.home-btn:hover{
	text-decoration: none;
}

h1{
	color: rgb(255,214,209);
	display: inline;
	text-decoration: none;
}

.icon{
	max-height: 50px;
	max-width: 50px;
}

.page-title{
	font-size: 2rem;
}

.searchbar-field{
	width: 140px;
	font-size: 1rem;
}

.side-nav{
	width: 15%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 15%;
	border-right: solid #818181;
}

.side-nav-links{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}

.main-body{
	display: flex;
	margin: 0 20%;
}


@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav-links {font-size: 10px;}
}

@media (max-width: 1010px) {
  .side-nav {padding-top: 15px;}
  .side-nav-links {font-size: 10px;}
}

@media (max-width: 550px) {
  .side-nav {
  	top: 21%;
  	padding-right: 21%;
  }
  /*.side-nav-links {font-size: 10px;}*/
}