html{
	height: 100%;
	font-size: 5px;
}

body{
	height: 100%;
	background-color: #cccccc;
}

header{
	background-color: #f5a5a5;
	text-align: center;
	height: 18%;
	border-bottom: solid #00000036;
}

nav{
	position: relative;
	top: 20%;
	width: 95%;
	margin: auto;
}

.icon{
	max-height: 70px;
	max-width: 70px;
}


.logout{
	text-decoration: none;
	color: black;
	font-size: 3rem;
}

.logout:hover {
	text-decoration: none;
	color: black;
}

.logout-img{
	height: 50px;
	width: 50px;
}

.main-body{
	margin: 3% 10%;
	height: 75%;
}