

h2{
	color: rgb(255,214,209);
	font-size: 80px;
}


.trip-header{
	margin-left: 50%;
}

.country{
	font-size: 40px;
}

.days-body{
	margin-left: 25%;
	margin-right: 10%;
}

.days-div{
}

.days-div p{
	text-decoration: none;
}