h2{
	color: rgb(255,214,209);
	font-size: 4rem;
}


.trip-header{
	text-align: center;
}

.country{
	font-size: 2rem;
}

.friend-table{
	width: 20%;
	display: inline;
}

.friend-form{
	margin-top: 4%;
}

.friend-input{
	width: 100%;
}

.trip-table{
	width: 70%;
	display: inline;
}